@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background: rgb(77, 34, 195);
  background: linear-gradient(
    82deg,
    rgba(77, 34, 195, 1) 0%,
    rgba(132, 32, 238, 1) 100%
  );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.gradient-button {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(237, 3, 32, 0.87) 20.8%,
    rgba(242, 121, 1, 0.84) 74.4%
  );
}

.ripple {
  animation: ripple 1s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.87);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(256, 256, 256, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
  }
}
